.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: @white;
  border-radius: 2px;
  background-clip: padding-box;
  span.card_title {
    color: @black;
    font-size: 1em;
    font-weight: 300;
    /* text-transform: uppercase; */
    font-family: 'montserrat';

    a {
      color: @black;
      &:hover {
        color: @black;
      }
    }

  }
  .card_sub_title {
    font-size: 0.7em;
    display: block;
    color: @gris;
  }

  .card_author img,
  .card_author_content {
    display: inline-block;
    vertical-align: middle;
  }

  .card_author{
    .align-vertical();
    .media {
      display: inline-flex;
      img {
        width: 40px;
        height: 40px;
      }
    }
    img{
      border-radius: 50%;
      margin-right: 0.6em;
      margin: 10px;
    }
  }

  .card_image {
    position: relative;
    overflow: hidden;
    min-height: 160px;
    img {
      border-radius: 2px 2px 0 0;
      background-clip: padding-box;
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      margin: auto;
    }
    span.card_title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 16px;
    }
  }
  .card_content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    .sous_titre {
      font-size: 0.7em;
      color: @gris;
    }
    p {
      margin: 0;
      color: inherit;
    }
    span.card_title {
      line-height: 48px;
    }
    a {
      color: @black;
      &:hover {
        color: @black;
      }
    }

  }
  .card_action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
    height: 50px;
    a {
      color: @bleu;
      transition: color 0.3s ease;
      padding: 0 4px;
    }
    a:hover {
      color: @bleu_fonce;
      text-decoration: none;
    }
    .rating{
      .nb_votants{
        font-size: 8pt;
      }
    }
    .actions_right {
      text-align: right;
      span {
        padding: 0 4px; 
      }
      .glyphicon-heart, .glyphicon-heart-empty {
        color: @rouge;
      }
      .glyphicon-share-alt {
        color: @vert;
        -moz-transform: scaleX(-1);    /* Gecko */
        -o-transform: scaleX(-1);      /* Opera */
        -webkit-transform: scaleX(-1); /* Webkit */
        transform: scaleX(-1);         /* Standard */
        filter: FlipH; 
      }
    }
  }
}
