.formulaire_contact{
  width: 90%;
  padding: 15px;
  margin: 50px auto;

  ::-webkit-input-placeholder{color: @gris;}
  :-moz-placeholder { /* Firefox 18- */ color: @gris;}
  ::-moz-placeholder {  /* Firefox 19+ */ color: @gris;}
  :-ms-input-placeholder {color: @gris;}

  h1{
    text-align: center;
    font-size: 25pt;
    text-transform: uppercase;
    color: @bleu;
  }

  .title-bar{
    margin: 1px auto 10px auto;
    width: 100px;
    border-bottom: 1px solid @gris;
  }

  #contact{
    input[type="text"], input[type="email"], textarea{
      display: block;
      padding: 10px;
      margin: 10px auto;
      width: 90%;
      font-size: 18px;
      color: @gris;
      border: 1px solid @gris;
    }
    textarea{
      font-size: 16px;
      max-width: 90%;
      min-width: 90%;
      height: 162px;
      max-height: 162px;
      min-height: 140px;
      resize: none;
    }
    input:hover, textarea:hover{
      border: 1px solid @bleu;
    }
    input:focus, textarea:focus{
      border: 1px solid @gris;
      color: @black;
    }
    .send-button{
      text-align: center;
      button[type="submit"]{
        cursor: pointer;
        background: @bleu;
        color: @white;
        border: none;
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
        text-transform: uppercase;
        transition: .5s ease;
      }
      button[type="submit"]:hover{
        background: @gris;
      }
      button[type="submit"]:focus{
        position: relative;
        top: 2px;
      }
    }
  }
}



/*##############\*
    Responsive
\*##############*/

@media screen and (min-width: 640px){
  .formulaire_contact{
    width: 600px;

    #contact{ 
      .right, .left{
        display: block;
        width: 50%;
      }
      .right{
        float: right;
      }
      .left{
        float: left;
      }
      .cl{
        clear: both;
      }
    }
  }
}

