.arrow_container {
	text-align: center;	
	.arrow_up {
		text-decoration: none !important;
		i{
			top: 46px;
			font-size: 2.5em;
			margin-top: 15px;
			color: @bleu;
		}
	}
}

footer {
	background-color: @white;
	height: 70px;
	margin-top: 15px;
	font-weight: 300;
	font-family: "roboto";
	font-size: 0.9em;

	.content, .container {
		height: inherit;
		.row {
			.align-vertical();
			height: inherit;
		}
		.logo_sociaux {
			-webkit-justify-content: flex-end;
			justify-content: flex-end;
			.align-vertical();			
			img.img_iut{height: 35px;}
			i, a, img {
				padding: 0 10px;
			}

		}
		.menu_footer {
			margin-bottom: 0;
			li {
				display: inline-block;
				list-style: none;
				&:not(:last-child):after {
					content: " |";
				}
				a {
					font-size: 1.1em;
					/* font-weight: bold; */
					color: @bleu;
				}
			}
		}
	}
}
