header {
	background-image: url(../img/header2.jpg);
	width: 100%;
	background-size: cover;
	height: 375px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 

  .content_header {
    text-align: center;
    height: 375px;
    .align-vertical();      
    align-items: center;
    .container {margin-top: 50px;}
    form.navbar-form.navbar {
     padding-bottom: 30px;
     .form-group .recherche_principale, .btn-search {
      border-radius: 0;
      border: 0;
      display: inline-block;

    }
    .recherche_principale {
      width: 400px;
      height: 40px;
    }
    .btn-search {
      height: 40px;
    }

  }
  button.more_filters {
   border: solid 2px @white;
   background-color: rgba(0,0,0,0.44);
   color: white;
   border-radius: 0px;
   text-align: center;
   &:hover {
    background-color: rgba(171,171,171,0.44);
    border-color: @white;
    color: @white;
  }
}
}
}

