.navbar {
	border-radius: 0;
	.media a.pull-right {
		padding: 7px;
	}
	.dropdown-menu {
		border-radius: 0;
	}
}
.navbar-inverse {
	background-color: rgba(0, 0, 0, 0.7);
	border: 0px;
	.navbar-nav>li>a {
		color: @white;
		&:hover {
			color: @bleu;
		}
	}
}

#important{
	color: @bleu;
	padding-bottom: 0px;
}
.navbar-brand {
	padding: 7px;
	img {
		height: 100%
	}	

}

