/* Desktop */
@media (max-width: 1199px) {}

/* Tablette */
@media (max-width: 991px) {
}

/* Smartphone */
@media (max-width: 767px) {
	
	header {
		height: 200px;
		.content_header {
			height: 150px;
			form.navbar-form.navbar .recherche_principale {
				width: 200px;
			}
		}

	}

	.une_conf {
		.titre_conf {
			padding: 0;
			h1 {
				font-size: 1.4em;
			}
			h2 {
				font-size: 0.9em;
				padding: 0;
			}
		}
		.desc_conf {
			.rating {
				text-align: center;
				padding-top: 0;	
			}
			.logo_sociaux {
				text-align: center;
				padding: 30px 0;
				a {
					vertical-align: top;
					margin : 0 10px;
				}
				img {
					max-height: 30px;
				}
			}
		}
		.container_desc {
			padding-top: 50px;
		}
		.rates_coms .container_coms .row {
			.media img.dp {
				width: 60px;
				height: 60px;
			}
			.bubble {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.card{
		.card_image {
			min-height:0;
	    img {
	    	position:relative;
	    }
	  }
	}




// Navbar aka menu
// Contre de Bootstrap
.navbar .badge_user {
	float: left;
	padding-left: 10px;
}
.navbar-inverse .navbar-toggle{
	    border: 0px; // désactive la bordure du menu

	    &:focus, &:hover {
	    	background-color: transparent !important;
	    }
	}
	.navbar-inverse .navbar-nav {
		>.open a {
			&:focus, &:hover {
				background-color: transparent;
			}
		}
		>li>a, .open .dropdown-menu>li>a {
			color: @bleu;
		}
	.card .card_image{
		min-height: 230px;
	}
	.navbar-form .form-group {
		display: inline-block;
	}

}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: 400px;
}
header{
		.content_header {
			form.navbar-form.navbar {
				margin-top: 50px;
				padding-bottom: 0px;
			}
		}
	}

	footer {
		height: 150px;
		.content, .container {

			.menu_footer {
				padding: 0;
				li {
					display: block;
					&:not(:last-child):after {
						content: "";
					}
				}
			}
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.profil{
		.profil_pseudo{
			font-size: 1em;
			font-weight: bold;
		}
	}

	.card{
		.card_image {
			min-height:0;
	    img {
	    	position:relative;
	    }
	  }
	}


}